@font-face{
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-family: poppins;
}

@font-face{
    src: url('../fonts/Montserrat-Bold.ttf');
    font-family: montsbold;
}

/*About  Us*/
.a_title {
  color: #F28500;
  text-align: center;
  font-family: montsbold;
  font-size: 80px
}

/*mission title*/
.miss {
  text-align: left;
  font-family: montsbold;
  color: #001F3D;
  font-size: 75px;
  text-shadow: 1px 1px 3px #673c1b;
}

/*container with the mission*/
.mission_section{
  background-image: url(../imgs/a1.jpg);
  height: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  position: relative;

}

/*content in the mission*/
.p_content_m {
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin-left: -10px;
    text-shadow: 1px 1px 2px black;
}


/*vision title*/
.vis {
  font-family: montsbold;
  color: #002F3D;
  font-size: 75px;
  text-align: right;
  text-shadow: 1px 1px 3px #673c1b;
}

/*container with the vision*/
.vision_section{
  background-image: url(../imgs/a2.jpg);
  height: 200%;
  background-position: cover;
  background-repeat: no-repeat;
  position: relative;

}

/*content in the vision*/
.p_content {
  text-align: right;
	font-size: 35px;
    /*color: #2F4F4F;*/
    font-weight: bold;
    padding-left: 60px;
    text-shadow: 1px 1px 2px black;

}


/*details in the mission and vision*/
.mv_detail-box{
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left;
  position: block;
  color: white;
}




