/*@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bungee&family=Righteous&display=swap');*/

@font-face{
    src: url('fonts/Poppins-SemiBold.ttf');
    font-family: poppins;
}

@font-face{
    src: url('fonts/Montserrat-Bold.ttf');
    font-family: montsbold;
}
/*Title, rarejob*/
.policy_section {
    background-color: white;
}

.policy_title {
    font-family: montsbold;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2px;
    color: black;
    border-left: 10px solid #f7b52c;
    background-color: white;
}

.jumbotron {
     background-image: url(../imgs/c1.gif);
}

.display-4 {
    font-size:40px;
    color: #F28500;
    font-weight: bolder;
    text-align: left;
}
/*First description*/
.intro {
    text-indent: 50px;
    font-size: 25px;
    color: black;
    font-family: poppins;
}



.jcontainer{
    overflow-y: scroll;
    height: 600px;
    background-color: #faebd7;
    opacity: 0.9;
    background-size:100% 100%;
    padding-top: 4%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 3%;
    margin: 10px 20px 20px 30px;
}

/*1-7 policies*/
.cont_title {
    color: brown;
    font-size: 30px;
    font-family: montsbold;
}


.cont_des {
    text-indent: 30px;
    color: #001F3D;
    font-size: 20px;
    padding-top: 2px;
    font-family: poppins;
}

/*by the top management*/
.end_p {
    text-align: right;
    font-family: poppins;
    font: 15px;
    color: black;

}