
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #c3d600;
    background-color: #f2f2f2;
    border-radius: 2px; 
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.form-background{
    background-image: url(../imgs/cherrybloom.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 15px 10px 30px 10px;

}

.btn-light{
    background-color: #f28500;
    border-radius: 12px;
    outline:none;
    width: 210px;
    padding: 5px 20px;
    margin-top: 10px;
    color: white;
    src: url('../fonts/Montserrat-Bold.ttf');
    font-family: montsbold;
    font-size: x-large;
    float: right;

}


.btn-light:hover {
    background-color: #c3d600;
    color: white;
    text-decoration: none;
    
}


.btn-secondary {
    background-color: #A6A6A6;
    border-radius: 12px;
    margin-left: 25px;
    margin-bottom: 12px;
    width: 255px; 
    padding: 5px 20px;
    src: url('../fonts/Montserrat-Bold.ttf');
    font-family: montsbold;
    font-size: x-large;
    font-weight: bold;
    outline:none;

}

.current{
    background-color: #001f3d;
}
  
.formbox {
    max-width: 900px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #c3d600;
    padding: 40px 70px 40px 70px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
  
.col-25 {
    color: #001f3d;
    width: 25%;
    font-weight:bolder;
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-family: poppins;
    font-size: 20px;

}
  
.col-75 {
    width: 75%;
    margin-top: 10px;
    padding-bottom: 10px;

}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
     
  
.contactus, h1 {
    src: url('../fonts/Montserrat-Bold.ttf');
    font-family: montsbold;
    font-size: 50px;
    color: white;
    padding: 7px 0px 5px 0px;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

/* RESPONSIVE LAYOUT */


@media screen and (max-width: 900px){
    .btn-secondary{
        width: 240px;
        font-size: x-large;
    }
}

@media screen and (max-width: 899px) and (min-width: 820px) {
    .btn-secondary{
        width: 235px;
        font-size: x-large;
        margin-left: 10px;
    }
}

@media screen and (max-width: 819px) and (min-width: 775px){
    .btn-secondary{
        width: 225px;
        font-size: x-large;
        margin-left: 5px;
    }
}

@media screen and (max-width: 774px) and (min-width:715px){
    .btn-secondary{
        width: 204px;
        font-size: x-large;
        margin-left: 5px;
    }
}

@media screen and (max-width: 714px) and (min-width:680px){
    .btn-secondary{
        width: 190px;
        font-size: x-large;
        margin-left: 5px;
    }
}

@media screen and (max-width: 679px) and (min-width: 581px) {
    .btn-secondary{
        width: 180px;
        font-size: x-large;
        margin-left: 5px;
    }
}

@media screen and (max-width: 580px){
    .col-25, .col-75, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }
    .btn-secondary{
        width: 160px;
        font-size: large;
        margin-left: 10px;
    }

    #message {
        margin-bottom: 20px
    }
}

